* {
  border : none;
  margin: 0;
  /* outline: 1px solid blue; */
}

.title-bar {
  /* border: 1px dotted blue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid hsl(0, 0%, 30%);

}

.sidebar {
  min-width: 20%;
  max-width: 20%;
  min-height: 100vh;
  padding: 5px 10px;
  border-right: 1px solid rgb(51, 51, 51);
  font-family: 'Raleway','Gill Sans', monospace, system-ui, sans-serif;
  font-style: normal;
  background-color: #fefefc
  
}

.sidebar-title {
  font-size: 32pt;
  font-weight: 700;
}

.title-bar-add-note {
  font-size: 24pt;
  font-weight: 400;
  background-color: transparent;
  border: 1px solid rgb(51, 51, 51);
  padding: 3px 12px;
}

.title-bar-add-note:hover{
  background-color: rgb(51, 51, 51);
  color: #fefefc;
}

.note-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 10px 0px;
}

.note-card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  /* height: 8vh; */
  overflow: hidden;
  border: 1px solid rgb(51, 51, 51);
  padding: 1rem 1rem;
}

.selected-note {
  color:#fefefc;
  background-color: rgb(51, 51, 51);
}

.operation-buttons {
  display: flex;
}

.selected-delete-note {
  color: #fefefc;
  border: 1px solid #fefefc;
}

.selected-delete-note:hover {
  color: rgb(51, 51, 51);
  background-color: #fefefc;
}

.download-button {
  margin-top: 1rem;
  margin-right: 0.5rem;
}

.delete-button {
  margin-top:1rem;
}